/* css 초기화 */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.inner{
    width: 1180px;
    margin: 0 auto;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #dee2e6;
}
header .inner{
    height: 120px;
    position: relative; /*부모역할*/
}
header .inner h1{
    position: absolute;
    left: 5px;
    top: 50px;
}
header .inner h1 a{
	color: black;
   	font-weight: 700;
}
header .inner .util{
    display: flex; /*한줄만들기*/
    /* border: 1px solid red; */
    position: absolute;
    top: 10px;
    right: 10px;
}
header .inner .util li{
    padding: 0 10px;
    font-size: 14px;
}
header .inner .util li a{
    color: black;
}
header .inner #gnb{
    
    display: flex;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 20px;
    right: 10px;
}
/*gnb li */
header .inner #gnb .item {}
header .inner #gnb .item .item__name {}

header .inner #gnb .item .item__name:hover a {
    background-color: #000;
    color: white;
}
header .inner #gnb .item .item__name a{
    padding: 10px 20px;
    color : #000;
    font-size: 20px;
    font-weight: 700;
}
header .inner #gnb .item .item__contents{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    position: fixed;
    top: 120px;
    left: 0;
    display: none;
}
header .inner #gnb .item:hover .item__name{
    background-color: black;
    color: #fff;
}
header .inner #gnb .item:hover .item__contents{
    display: block;
}
header .inner #gnb .item .item__contents .inner > ul{
    display: flex;
    justify-content: center;
}
header .inner #gnb .item .item__contents .inner > ul > li{
    padding: 10px 50px;
}
header .inner #gnb .item .item__contents .inner > ul > li > ul {}
header .inner #gnb .item .item__contents .inner > ul > li > ul > li {
    padding: 20px 0;
}
header .inner #gnb .item .item__contents .inner > ul > li > ul > li a{
    color: #fff;
}
header .inner #gnb .item .item__contents .inner > ul > li > ul > li a:hover{
    color:red;
    background-color: yellow;
}
